.div {
  padding: 1rem;
  margin-top: 1rem;
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  flex-direction: column;
  background-color: rgba(22, 14, 8, 0.9);
  margin-bottom: 1rem;
  max-width: 1400px;
}

.div h1 {
  color: #00d5ff;
  font-size: 4rem;
}

.div p {
  color: #00d5ff;
}

#contenaire {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
}

.contenaire2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
}

.contenaire3 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: justify;
  align-items: center;
  justify-content: space-between;
  margin-right: 5rem;
  margin: 1rem;
}

.contenaire4 {
  display: flex;
  flex-direction: row;
  text-align: justify;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.btn {
  box-sizing: border-box;
  width: calc(100% - 10rem);
  margin: 5rem;
}

.sp {
  font-weight: bold;
}

.div h3 {
  color: #00d5ff;
}

.div ul {
  color: #00d5ff;
}
