.gallerie {
  margin: 1rem;
  flex-wrap: wrap;
  gap: 1rem;
  text-align: center;
}

.gallerie img {
  margin: 1rem;
  height: 15rem;
  width: 15rem;
  border: 3px solid #f8f8f8;
  border-radius: 1rem;
  object-fit: contain;
}
